#nav-bar{
    color: white;
    font-size: 28px;
    height :75px;
}

.icon-play{
    background-image : url(../images/search_ico.png.png);
    background-size: cover;
    display: inline-block; 
    height: 30px;
    width: 30px;
}
.currentcity{
    /* height:200px; */
    padding: 15px;
    /* background-color: skyblue; */
    border:1px solid lightgray;
    border-radius: 5px;

}

.placeholder{
    height:20px;
}

.fivedays, h4{
    padding-top: 15px;
}

.eachday{
    background-color: lightskyblue;
    border-radius: 5px;
}