body{
    background-image: url(../images/weather-970917_1280small.jpg);
}
#nav-bar{
    color: white;
    font-size: 28px;
    height :75px;
}

.icon-play{
    background-image : url(../images/search_ico.png.png);
    background-size: cover;
    display: inline-block; 
    height: 30px;
    width: 30px;
}
.currentcity{
    padding: 15px;
    border:1px solid lightgray;
    border-radius: 5px;

}

.placeholder{
    height:20px;
}

.fivedays, h4{
    padding-top: 15px;
}

.eachday{
    background-color:blue;
    border-radius: 5px;
    font-size: smaller;
    color: white;
}

.uvindex{
    background-color: rgb(187, 35, 35);
    color: white;
    padding: 3px 5px;
}